<body class="appear-animate">


     <!-- Page Wrap -->
     <div class="page" id="top">




         <!-- About Section -->
         <section class="page-section" id="about">
             <div class="container relative">

                 <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                     About  Me

                     <a href="https://www.facebook.com/congminh.tran.357" class="section-more right">More about me <i class="fa fa-angle-right"></i></a>

                 </h2>

                 <div class="section-text">
                     <div class="row">

                         <div class="col-md-4 mb-sm-50 mb-xs-30">

                             <!-- Bar Item -->
                             <h5>web coding</h5>
                             <div class="progress tpl-progress">
                                 <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                  <span>80%</span>
                                 </div>
                             </div>
                             <!-- End Bar Item -->

                             <!-- Bar Item -->
                             <h5>photoshop and draw</h5>
                             <div class="progress tpl-progress">
                                 <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                     <span>70%</span>
                                 </div>
                             </div>
                             <!-- End Bar Item -->

                             <!-- Bar Item -->
                             <h5>C# coding</h5>
                             <div class="progress tpl-progress">
                                 <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                    <span>50%</span>
                                 </div>
                             </div>
                             <!-- End Bar Item -->
                             <!-- Bar Item -->
                             <h5>database</h5>
                             <div class="progress tpl-progress">
                                 <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                    <span>60%</span>
                                 </div>
                             </div>
                             <!-- End Bar Item -->
                             <!-- Bar Item -->
                             <h5>japanese</h5>
                             <div class="progress tpl-progress">
                                 <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                    <span>70%</span>
                                 </div>
                             </div>
                             <!-- End Bar Item -->
                         </div>

                         <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                             Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper metus pellentesque mattis. Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum nibh volutpat, accumsan purus.
                         </div>

                         <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                             Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus. Praesent sed nisi eleifend, fermentum orci amet, iaculis libero. Donec vel ultricies purus. Nam dictum sem, eu aliquam.
                         </div>

                     </div>
                 </div>

             </div>
         </section>
         <!-- End About Section -->

         <!-- Divider -->
         <hr class="mt-0 mb-0 "/>
         <!-- End Divider -->

         <!-- Services Section -->
         <section class="page-section" id="services">
             <div class="container relative">

                 <h2 class="section-title font-alt mb-70 mb-sm-40">
                  my favorite things
                 </h2>

                 <!-- Nav tabs -->
                 <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
                     <li class="active">
                         <a href="#service-branding" data-toggle="tab">

                             <div class="alt-tabs-icon">
                                 <span class="icon-book-open"></span>
                             </div>

                             Book
                         </a>
                     </li>
                     <li>
                         <a href="#service-web-design" data-toggle="tab">

                             <div class="alt-tabs-icon">
                                 <span class="icon-desktop"></span>
                             </div>

                             Web Design
                         </a>
                     </li>
                     <li>
                         <a href="#service-graphic" data-toggle="tab">

                             <div class="alt-tabs-icon">
                                 <span class="icon-pencil"></span>
                             </div>

                             draw and sketch things
                         </a>
                     </li>
                     <li>
                         <a href="#service-development" data-toggle="tab">

                             <div class="alt-tabs-icon">
                                 <span class="icon-gears"></span>
                             </div>

                             Development
                         </a>
                     </li>
                     <li>
                         <a href="#service-photography" data-toggle="tab">

                             <div class="alt-tabs-icon">
                                 <span class="icon-video"></span>
                             </div>

                             movie
                         </a>
                     </li>
                 </ul>
                 <!-- End Nav tabs -->

                 <!-- Tab panes -->
                 <div class="tab-content tpl-tabs-cont">

                     <!-- Service Item -->
                     <div class="tab-pane fade in active" id="service-branding">

                         <div class="section-text">
                             <div class="row">
                                 <div class="col-md-4 mb-md-40 mb-xs-30">
                                     <blockquote class="mb-0">
                                         <p>
                                             A&nbsp;brand for a&nbsp;company is&nbsp;like a&nbsp;reputation
                                             for a&nbsp;person. You earn reputation by&nbsp;trying to&nbsp;do&nbsp;hard
                                             things well.
                                         </p>
                                         <footer>
                                             Jeff Bezos
                                         </footer>
                                     </blockquote>
                                 </div>
                                 <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                     Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum
                                     volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit.
                                     In maximus ligula metus pellentesque mattis.
                                 </div>
                                 <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                     Donec vel ultricies purus. Nam dictum sem, ipsum aliquam . Etiam sit amet fringilla lacus.
                                     Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus.
                                     Praesent sed nisi eleifend, fermentum orci amet, iaculis libero.
                                 </div>
                             </div>
                         </div>

                     </div>
                     <!-- End Service Item -->

                     <!-- Service Item -->
                     <div class="tab-pane fade" id="service-web-design">

                         <div class="section-text">
                             <div class="row">
                                 <div class="col-md-4 mb-md-40 mb-xs-30">
                                     <blockquote class="mb-0">
                                         <p>
                                             It&nbsp;doesn&rsquo;t matter how many times&nbsp;I have to&nbsp;click, as&nbsp;long
                                             as&nbsp;each click is&nbsp;a&nbsp;mindless, unambiguous choice.
                                         </p>
                                         <footer>
                                             Steve Krug
                                         </footer>
                                     </blockquote>
                                 </div>
                                 <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                     Cras mi tortor, laoreet id ornare et, accumsan non magna. Maecenas vulputate accumsan velit.
                                     Curabitur a nulla ex. Nam a tincidunt ante. Vitae gravida turpis. Vestibulum varius
                                     nulla non nulla scelerisque tristique.
                                 </div>
                                 <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                     Mauris id viverra augue, eu porttitor diam. Praesent faucibus est a interdum elementum.
                                     Nam varius at ipsum id dignissim. Nam a tincidunt ante lorem. Pellentesque suscipit ante
                                     at ullamcorper pulvinar neque porttitor.
                                 </div>
                             </div>
                         </div>

                     </div>
                     <!-- End Service Item -->

                     <!-- Service Item -->
                     <div class="tab-pane fade" id="service-graphic">

                         <div class="section-text">
                             <div class="row">
                                 <div class="col-md-4 mb-md-40 mb-xs-30">
                                     <blockquote class="mb-0">
                                         <p>
                                             Never fall in&nbsp;love with an&nbsp;idea. They&rsquo;re whores. If&nbsp;the one you&rsquo;re with isn&rsquo;t doing the job, there&rsquo;s always another.
                                         </p>
                                         <footer>
                                             Chip Kidd
                                         </footer>
                                     </blockquote>
                                 </div>
                                 <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                     Lorem ipsum dolor sit semper amet, consectetur adipiscing elit. In maximus ligula metus pellentesque
                                     mattis. Donec vel ultricies purus. Nam dictum sem, ipsum aliquam . Praesent sed nisi eleifend,
                                     fermentum orci amet, iaculis libero.
                                 </div>
                                 <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">

                                     Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus. Etiam sit amet
                                     fringilla lacus. Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id&nbsp;dolor
                                     consectetur fermentum volutpat nibh, accumsan purus.
                                 </div>
                             </div>
                         </div>

                     </div>
                     <!-- End Service Item -->

                     <!-- Service Item -->
                     <div class="tab-pane fade" id="service-development">

                         <div class="section-text">
                             <div class="row">
                                 <div class="col-md-4 mb-md-40 mb-xs-30">
                                     <blockquote class="mb-0">
                                         <p>
                                             All that is&nbsp;valuable in&nbsp;human society depends upon the opportunity for development accorded the individual.
                                         </p>
                                         <footer>
                                             Albert Einstein
                                         </footer>
                                     </blockquote>
                                 </div>
                                 <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                     Fusce hendrerit vitae nunc id gravida. Donec euismod quis ante at mattis. Mauris dictum ante sit
                                     amet enim interdum semper. Vestibulum odio justo, faucibus et dictum eu, malesuada nec neque.
                                     Maecenas  volutpat, diam enim sagittis.
                                 </div>
                                 <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                     Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Sed id dolor consectetur fermentum
                                     volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit.
                                     Inmed maximus ligula metus pellentesque.
                                 </div>
                             </div>
                         </div>

                     </div>
                     <!-- End Service Item -->

                     <!-- Service Item -->
                     <div class="tab-pane fade" id="service-photography">

                         <div class="section-text">
                             <div class="row">
                                 <div class="col-md-4 mb-md-40 mb-xs-30">
                                     <blockquote class="mb-0">
                                         <p>
                                             Photography is&nbsp;the simplest thing in&nbsp;the world, but it&nbsp;is&nbsp;incredibly
                                             complicated to&nbsp;make it&nbsp;really work.
                                         </p>
                                         <footer>
                                             Martin Parr
                                         </footer>
                                     </blockquote>
                                 </div>
                                 <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                     Donec vel ultricies purus. Nam dictum sem, ipsum aliquam . Etiam sit amet fringilla lacus.
                                     Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Integer lectus.
                                     Praesent sed nisi eleifend, fermentum orci amet, iaculis libero.
                                 </div>
                                 <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                                     Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum
                                     volutpat nibh, accumsan purus. Lorem ipsum dolor sit semper amet, consectetur adipiscing elit.
                                     In maximus ligula metus pellentesque mattis.
                                 </div>
                             </div>
                         </div>

                     </div>
                     <!-- End Service Item -->

                 </div>
                 <!-- End Tab panes -->



             </div>
         </section>
         <!-- End Services Section -->


         <!-- Call Action Section -->
         <section class="page-section pt-0 pb-0 banner-section bg-dark" data-background="<%= image_path("japan.jpg") %>">
             <div class="container relative">

                 <div class="row">

                     <div class="col-sm-6">

                         <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                             <div class="banner-content">
                                 <h3>Do you love coding and Japan?</h3>
                                 <h4>
                                     Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor.
                                     Integer non dapibus diam, ac eleifend lectus.
                                     </h4>
                                 <div class="local-scroll">
                                     <a href="https://discordapp.com/" class="btn btn-mod btn-w btn-medium btn-round">Lets talk</a>
                                 </div>
                             </div>
                         </div>

                     </div>

                     <div class="col-sm-6 banner-image wow fadeInUp">
                         <img src="images/coding.png" alt="" />
                     </div>

                 </div>

             </div>
         </section>
         <!-- End Call Action Section -->




         <!-- Divider -->
         <hr class="mt-0 mb-0"/>
         <!-- End Divider -->


         <!-- Portfolio Section -->
         <section class="page-section pb-0" id="portfolio">
             <div class="relative">

                 <h2 class="section-title font-alt mb-70 mb-sm-40">
                     Latest Works
                 </h2>

                 <div class="container">
                     <div class="row">
                         <div class="col-md-8 col-md-offset-2">

                             <div class="section-text align-center mb-70 mb-xs-40">
                                 Curabitur eu adipiscing lacus, a iaculis diam. Nullam placerat blandit auctor. Nulla accumsan ipsum et nibh rhoncus, eget tempus sapien ultricies. Donec mollis lorem vehicula.
                             </div>

                         </div>
                     </div>
                 </div>

                 <!-- Works Grid -->
                 <ul class="works-grid work-grid-3 work-grid-gut clearfix font-alt hover-white hide-titles" id="work-grid">

                     <!-- Work Item (External Page) -->
                     <li class="work-item">
                         <a href="portfolio-single-1.html" class="work-ext-link">
                             <div class="work-img">
                                 <img class="work-img" src="images/book-review.png" alt="Work" />
                             </div>
                             <div class="work-intro">
                                 <h3 class="work-title">My project book review</h3>
                                 <div class="work-descr">
                                     created in free time
                                 </div>
                             </div>
                         </a>
                     </li>
                     <!-- End Work Item -->

                     <!-- Work Item (External Page) -->
                     <li class="work-item">
                         <a href="portfolio-single-1.html" class="work-ext-link">
                             <div class="work-img">
                                 <img class="work-img" src="images/chess.png" alt="Work" />
                             </div>
                             <div class="work-intro">
                                 <h3 class="work-title">simple chess game</h3>
                                 <div class="work-descr">
                                     using anpha-beta algorithm
                                 </div>
                             </div>
                         </a>
                     </li>
                     <!-- End Work Item -->

                     <!-- Work Item (External Page) -->
                     <li class="work-item">
                         <a href="portfolio-single-1.html" class="work-ext-link">
                             <div class="work-img">
                                 <img class="work-img" src="images/reactjs1.png" alt="Work" />
                             </div>
                             <div class="work-intro">
                                 <h3 class="work-title">a shopping web</h3>
                                 <div class="work-descr">
                                     Create using reactjs
                                 </div>
                             </div>
                         </a>
                     </li>
                     <!-- End Work Item -->

                 </ul>
                 <!-- End Works Grid -->

             </div>
         </section>
         <!-- End Portfolio Section -->


         <!-- Call Action Section -->
         <section class="small-section bg-dark">
             <div class="container relative">

                 <div class="align-center">
                     <h3 class="banner-heading font-alt">Want to see more works?</h3>
                     <div class="local-scroll">
                         <a href="https://github.com/undead747" class="btn btn-mod btn-w btn-medium btn-round">catch me in github</a>
                     </div>
                 </div>

             </div>
         </section>
         <!-- End Call Action Section -->
         <!-- Divider -->
         <hr class="mt-0 mb-0 "/>
         <!-- End Divider -->




         <!-- Blog Section -->
         <section class="page-section" id="news">
             <div class="container relative">

                 <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                     Latest News

                     <a href="blog-classic-sidebar-right.html" class="section-more right">All News in our blog <i class="fa fa-angle-right"></i></a>

                 </h2>

                 <div class="row multi-columns-row">

                     <!-- Post Item -->
                     <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.1s" data-wow-duration="2s">

                         <div class="post-prev-img">
                             <a href="blog-single-sidebar-right.html"><img src="images/new1.jpg" alt="" /></a>
                         </div>

                         <div class="post-prev-title font-alt">
                             <a href="">New Web Design Trends</a>
                         </div>

                         <div class="post-prev-text">
                             Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor
                             consectetur fermentum nibh volutpat, accumsan purus.
                         </div>

                         <div class="post-prev-more">
                             <a href="" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                         </div>

                     </div>
                     <!-- End Post Item -->

                     <!-- Post Item -->
                     <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">

                         <div class="post-prev-img">
                             <a href="blog-single-sidebar-right.html"><img src="images/reactjs.png" alt="" /></a>
                         </div>

                         <div class="post-prev-title font-alt">
                             <a href="">What’s new in the React JavaScript UI library</a>
                         </div>


                         <div class="post-prev-text">
                             Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor
                             consectetur fermentum nibh volutpat, accumsan purus.
                         </div>

                         <div class="post-prev-more">
                             <a href="" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                         </div>

                     </div>
                     <!-- End Post Item -->

                     <!-- Post Item -->
                     <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.3s" data-wow-duration="2s">

                         <div class="post-prev-img">
                             <a href="blog-single-sidebar-right.html"><img src="images/er-engine.jpeg" alt="" /></a>
                         </div>

                         <div class="post-prev-title font-alt">
                             <a href="">Resident Evil 2 Remake takes Capcom's RE engine to the next level </a>
                         </div>

                         <div class="post-prev-text">
                             Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor
                             consectetur fermentum nibh volutpat, accumsan purus.
                         </div>

                         <div class="post-prev-more">
                             <a href="" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                         </div>

                     </div>
                     <!-- End Post Item -->

                 </div>

             </div>
         </section>
         <!-- End Blog Section -->


         <!-- Newsletter Section -->
         <section class="small-section bg-gray-lighter">
             <div class="container relative">

                 <form class="form align-center" id="mailchimp">
                     <div class="row">
                         <div class="col-md-8 col-md-offset-2">

                             <div class="newsletter-label font-alt">
                                 Stay informed with our newsletter
                             </div>

                             <div class="mb-20">
                                 <input placeholder="Enter Your Email" class="newsletter-field form-control input-md round mb-xs-10" type="email" pattern=".{5,100}" required/>

                                 <button type="submit" class="btn btn-mod btn-medium btn-round mb-xs-10">
                                     Subscribe
                                 </button>
                             </div>

                             <div class="form-tip">
                                 <i class="fa fa-info-circle"></i> Please trust us, we will never send you spam
                             </div>

                             <div id="subscribe-result"></div>

                         </div>
                     </div>
                 </form>

             </div>
         </section>
         <!-- End Newsletter Section -->


         <!-- Contact Section -->
         <section class="page-section" id="contact">
             <div class="container relative">

                 <h2 class="section-title font-alt mb-70 mb-sm-40">
                     Find Us
                 </h2>

                 <div class="row">

                     <div class="col-md-8 col-md-offset-2">
                         <div class="row">

                             <!-- Phone -->
                             <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                 <div class="contact-item">
                                     <div class="ci-icon">
                                         <i class="fa fa-phone"></i>
                                     </div>
                                     <div class="ci-title font-alt">
                                         Call Us
                                     </div>
                                     <div class="ci-text">
                                         +61 3 8376 6284
                                     </div>
                                 </div>
                             </div>
                             <!-- End Phone -->

                             <!-- Address -->
                             <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                 <div class="contact-item">
                                     <div class="ci-icon">
                                         <i class="fa fa-map-marker"></i>
                                     </div>
                                     <div class="ci-title font-alt">
                                         Address
                                     </div>
                                     <div class="ci-text">
                                         245 Quigley Blvd, Ste K
                                     </div>
                                 </div>
                             </div>
                             <!-- End Address -->

                             <!-- Email -->
                             <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                                 <div class="contact-item">
                                     <div class="ci-icon">
                                         <i class="fa fa-envelope"></i>
                                     </div>
                                     <div class="ci-title font-alt">
                                         Email
                                     </div>
                                     <div class="ci-text">
                                         <a href="mailto:support@bestlooker.pro">support@bestlooker.pro</a>
                                     </div>
                                 </div>
                             </div>
                             <!-- End Email -->

                         </div>
                     </div>

                 </div>

             </div>
         </section>
         <!-- End Contact Section -->


         <!-- Call Action Section -->
         <section class="small-section bg-dark">
             <div class="container relative">

                 <div class="align-center">
                     <h3 class="banner-heading font-alt">Want to discuss your new project?</h3>
                     <div>
                         <a href="" class="btn btn-mod btn-w btn-medium btn-round">Lets tallk</a>
                     </div>
                 </div>

             </div>
         </section>
         <!-- End Call Action Section -->




     </div>
     <!-- End Page Wrap -->




 </body>
