<div class="form">
<%= simple_form_for([@book, @book.reviews.build]) do |f| %>
	<div class="review_form_field">
		<div id="rating-form">
		</div>
		<div class="input__box">
			<%= f.input  :comment %>
		</div>
		<div class="review-form-actions">
		<%= f.button :submit, :class => "" %>
		</div>
	</div>
<% end %>
</div>

<script>
	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});
</script>
